<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
	        		<li><a href="/outreach">Outreach Program</a></li>
	        		<li><a href="/resources">Resources</a></li>
	        		<li><a href="/role_play">Role Play</a></li>
	        		<li><a href="/news">News</a></li>
	        		<li><a href="/links">Links</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:aurelieestsuperforte@gmail.com">email</a></li>
	        		<li><a href="https://github.com/aureliecharenton">github.com/aureliecharenton</a></li>
				</ul>
			</footer>
		</body>
	</html>
